In [20]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
array = np.load('results.npy')

In [5]:
array

array(['fan', '00', '0.5620563538781164', 'fan', '02',
       '0.6479118516527815', 'fan', '04', '0.5934339229968782', 'fan',
       '06', '0.8572856758935768', 'pump', '00', '0.35693676952418213',
       'pump', '02', '0.6105835565295025', 'pump', '04', '0.8009', 'pump',
       '06', '0.6441753171856979', 'slider', '00', '0.9693228908880932',
       'slider', '02', '0.8383761870695339', 'slider', '04',
       '0.8331468693337449', 'slider', '06', '0.3446534528468628',
       'valve', '00', '0.6795424051973732', 'valve', '02',
       '0.7336111111111112', 'valve', '04', '0.4576388888888889', 'valve',
       '06', '0.5276388888888889'], dtype='<U19')

In [32]:
data = [[0.5620563538781164, 0.6479118516527815, 0.5934339229968782, 0.8572856758935768],
        [0.35693676952418213, 0.6105835565295025, 0.8009, 0.6441753171856979], 
        [0.9693228908880932, 0.8383761870695339, 0.8331468693337449, 0.3446534528468628], 
        [0.6795424051973732, 0.7336111111111112, 0.4576388888888889, 0.5276388888888889]]

In [36]:
df = pd.DataFrame(data, index = ['0.0', '2.0', '4.0', '6.0'], columns=['FAN', 'SLIDER', 'PUMP', 'VALVE'])

In [37]:
df.loc['mean'] = df.mean()
df.replace(3.0, 'mean', inplace = True)

In [38]:
df

           FAN    SLIDER      PUMP     VALVE
0.0   0.562056  0.647912  0.593434  0.857286
2.0   0.356937  0.610584  0.800900  0.644175
4.0   0.969323  0.838376  0.833147  0.344653
6.0   0.679542  0.733611  0.457639  0.527639
mean  0.641965  0.707621  0.671280  0.593438

In [39]:
df.index.name('Machine ID')

TypeError: 'NoneType' object is not callable

In [40]:
cm = sns.light_palette("lightgreen", as_cmap=True)

In [16]:
def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

In [22]:
styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
table = (df.style.set_table_styles(styles).background_gradient(cmap=cm, axis = None, vmin = 0.6, vmax = 1))

In [23]:
table

In [25]:
df.index.name('Machine ID')

TypeError: 'NoneType' object is not callable